*{
	text-align: center;
}
#title-site h1 {
	font-size: 30px;
	font-family: Raleway;
}
#title-site p {
	font-size: 20px;
	font-weight: lighter;
}
.line-title {
	width: 50%;
	height: 2px;
	background-color: black; 
}