*{
	text-align: center;
	font-family: Raleway;
}
h1 {
	font-family: Didact Gothic;
}
a{
	text-decoration: none;
	color: white;
}
a:hover {
	color: black;
}
body {
	background-color: #FEEAEB;
}
.title-site {
	margin-top: 25px;
	margin-bottom: 25px;
}
.title-site h1 {
	font-size: 30px;
	font-family: Raleway;
}
.title-site p {
	font-size: 20px;
	font-weight: lighter;
}
.line-title {
	width: 50%;
	height: 2px;
	background-color: black; 
}
.nav {
	margin-top: 15px;
}
header i {
	color: white;
	font-size: 40px;
}
header {
	width: 100%;
	position: fixed;
	z-index: 1000;
	background-color: #A53F42; 
}
/*elevator speech*/

.title {
	font-size: 30px;
}

#elev-speech {
padding-top: 100px;
}
.elev-speech {
	height: 500px;
	color: white;
}
.bloque1 {
	background-image: url(../img/pax.png);
	background-size: cover;
}
.speech-left {
	/*background-color: #A53F42;*/
	color: white;
	height: 500px;
	padding-right: 0px;
	padding-left: 0px;
}
.speech {
	height: 250px;
}

.speech-left-img {
	background-image: url(../img/quinn.png);
	background-size: cover;
	/*background-color: #A0585A;*/
	background-color: rgba(101, 23, 30, 0.5);
	height: 250px;
}
.speech-right {
	padding-left: 0px;
	padding-right: 0px;
	height: 250px;
}
.speech-inner {
	padding-left: 2%;
	padding-right: 2%;
	background-color: #A53F42;
	height: 250px;
	padding-top: 80px;
}
.speech-right-imgfondo {
	background-image: url(../img/stawea.jpg);
	background-size: cover;
	background-color: #A0585A;
	/*background-color: rgba(101, 23, 30, 0.5);*/
	color: white;
	height: 500px;
}
.speech-right-img {
	margin-left: -15px;
	background-image: url(../img/scott.png);
	background-size: cover;
	/*background-color: #A0585A;*/
	height: 250px;
}
.bloque2 {
	background-image: url(../img/iker.png);
	background-size: cover;
}
.speech {
	height: 250px;
}



/*proyects*/

.proyects {
	 overflow: hidden;
	 height: 350px;
}
.proyects-content a {
	 overflow: hidden;
	 height: px;
	 color: black;
}


.shrink img {
	margin-left: ;
 	width: 250px;
	height: 350px;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
.shrink img:hover {
	margin-left: ;
	width: 350px;
	height: 450px;
}
.img-container {
	
}
.img-container:hover {
	display: inline-block;
	width: 100%;
	transition: all 0.5s ease;
}
/*descripciones proyectos*/

.tab-content {
	padding-top: 20px;
	color: white;
}
.tab-content button {
}
.tab-content a{
	display: inline-block;
	background-color: #EBB9BA;
	padding-left:5%;
	padding-right: 5%;
	padding-top: 2%;
	padding-bottom: 2%;
	width: 40%;
	border: 1px solid #EBB9BA;
	font-weight: bold;
	transition: all 0.5s ease;
}
.tab-content a:hover{
	text-decoration: none;
	display: inline-block;
	background-color: #FEEAEB;
	padding-left:5%;
	padding-right: 5%;
	padding-top: 2%;
	padding-bottom: 2%;
	width: 40%;
	border: 1px solid #FEEAEB;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.5s ease;
}
.tab-group: {
  list-style: none;
}
#desc {
	background-color: #a53f42;
	padding-top: 3%;
	height: 335px;
}
#desc2{
	display: none;
	background-color: #a53f42;
	padding-top: 3%;
	height: 335px;
}
#desc3{
	display: none;
	background-color: #a53f42;
	padding-top: 3%;
	height: 335px;
}
#desc4{
	display: none;
	background-color: #a53f42;
	padding-top: 3%;
	height: 335px;
}


/*knowledge*/

.know {
	height: 150px;
	background-image: url(../img/knowledge.png);
	background-repeat: repeat-x;
	background-size: inherit;
	margin-top: 35px;
	background-repeat: no-repeat;
	overflow-y:auto;
	overflow-x: hidden;
}

/*skills*/
.skills {
	height: 200px;
	color: white;
	background-color: #7C3739;
	padding-top:3%;
	padding-bottom: 3%;
}
.skills span {
	font-size: 30px;
	letter-spacing: 2px;
}
.skills i {
	font-size: 30px;
	margin-left: 10px;
	margin-right: 10px;
}
.skills p{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
/*skills bg*/
.skills-bg {

}
.bg-1 {
	background-image: url(../img/bg-1.png);
	background-size: cover;
}
.bg-2 {
	background-image: url(../img/bg-2.png);
	background-size: cover;
}
.bg-3 {
	background-image: url(../img/bg-3.png);
	background-size: cover;
}
.bg-4 {
	background-image: url(../img/bg-4.png);
	background-size: cover;
}

/*footer*/

footer {
	height: 250px;
	color: black;
	padding-top: 4%;
	padding-left: 1%;
	padding-right: 1%;
}
footer a {
	color: black;
	font-size: 30px;
	padding-left: 20px;
}
footer img {
	margin-left: auto;
	margin-right: auto;
}

/*MOBILE: la clase empieza acon un "mb" al inicio*/
@media (max-width: 768px) {
	.navbar-nav>li>a {
		text-transform: uppercase;
	}
	.navbar-nav>li>a:hover {
		text-transform: uppercase;
	}
	.flag {
		margin-left: auto;
		margin-right: auto;
	}
.speech-inner {
	color: white;
	height: 350px;
}
.mb-proyect-img {
	background-image: url(../img/cinema.jpg);
	background-size: cover;
	color: white;
	padding: 0px;
	height: 150px;
	margin-bottom: 20px;
}
.img-2 {
	background-image: url(../img/bunny.jpg);
}
.img-3 {
	background-image: url(../img/creamie.jpg);
}
.img-4 {
	background-image: url(../img/natura.jpg);
}
.mb-inner-proyect a {
	display: block;
	color: black;
	background-color: #EBB9BA;
	border: 1px solid transparent;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 90%;
}
.mb-inner-proyect {
	background-color: #A0585A;
	color: white;
	height: 150px;
}
.mb-proyect-img h3{
	height: 50px;
}
.skills {
	height: 170px;
	padding-top: 5%;
}
}